* {  
    text-align: center;
    color: rgb(220, 200, 20);
    }
body {
    background-image: url(./360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg);
    font-family: Arial, sans-serif;
}
.header {
    background-color: blue;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 15px;

}
.container {
    margin: 20px;
}
.form-group {
    margin-bottom: 10px;
}
label {
    font-weight: bold;
}

.button {
    border-radius: 20px;
    padding: 10px;
    background-color: #f6f6f6;
}

.button:hover {
    background-color: black;
    transition: 0.6s;
    border: solid;
    border-width: 2px;
}

.button:active {
    color: #f6f6f6;
    transition: 0.03s;
}